.sidebar {
  position: absolute;
  right: 0;
  width: 300px;
  top: 0;
  bottom: 0;
}

.sidebar-paper {

}

.bottomControl {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
}

.map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 120px;
  overflow: hidden;
}

.main {
  position: absolute;
  left: 0;
  right: 300px;
  top: 0;
  bottom: 0;
}

.district-info {
  border: 1px solid gray;
  border-radius: 3px;
}

body {
  font-family: 'Roboto', sans-serif;  
}

@keyframes slide-in {
    from {
      left: 300px;
    }
    to {
      left: 0px;
    }
}

.sidebar-slide-in {
  animation-name: slide-in;
  animation-duration: .5s;
}

.sidebar-slide-out {
  animation-name: slide-in;
  animation-duration: .5s;
  animation-direction: reverse;
}

.sidebar-demographics-page-out {
  position: absolute;
  top: 0;
  left: 300px;
}

.sidebar-demographics-page-in {
  position: absolute;
  top: 0;
  left: 0;
}

.button-spacing {
  margin: 10px;
}

.left {
  display: inline-block;
  text-align: center;
  width: 33.3%;
  vertical-align: middle;
}
.right {
  display: inline-block;
  text-align: center;
  width: 33.3%;
  vertical-align: middle;
}
.middle {
  display: inline-block;
  text-align: center;
  width: 33.3%;
  vertical-align: middle;
}

.bar-graph {
  position: relative;
  height: 20px;
  width: 70px;
}

.bar {
  position: absolute;
  height: 100%;
}

.legend-box {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  margin-right: 2px;
  display: inline-block;
}